node_modules/
yarn.lock
package-lock.json
pnpm-lock.yaml
ios/Pods/
ios/Podfile.lock
ios/build/
*.xcworkspace/
android/build/
android/.gradle/
dist/
build/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
npm-debug.log*
